{% extends 'base.html' %}

{% block title %}login{% endblock %}

{% block content %}
    <div class="form-container">
        <H1> Login </H1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" >Ingresar</button>
        </form>
    </div>
{% endblock %}